.aboutPage {
    margin-left: 100px;
}

.titleAbout {
    width: 100%;
    height: 20px;
    background-color: rgb(139, 138, 58);
    margin-top: 70px;
    margin-left: 50px;
    font-size: 30px;
}

.tittleForAbout {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
}

.photoAbout {
    width: 450px;
    height: 600px;
}

.screenAbout {
    display: flex;
}

.textInfo {
    width: 600px;
    font-weight: 300;
    font-size: 18px;
    margin-left: 120px;
    color: white;

}

.rectangle {
    margin-top: 200px;
    background-color: rgb(139, 138, 58);
    width: 100%;
    height: 150px;
    padding-right: 90px;
}