@font-face {
    font-family: SignikaNegative;
    src: url("../fonts/SignikaNegative-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SignikaNegative;
    src: url("../fonts/SignikaNegative-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SignikaNegative;
    src: url("../fonts/SignikaNegative-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SignikaNegative;
    src: url("../fonts/SignikaNegative-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SignikaNegative;
    src: url("../fonts/SignikaNegative-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}